<h2 style="text-align: center;">Création de Personnage</h2>


<h4 style="text-align: end;">Page {{index+1}}/{{pages.length}}</h4>
<div class="text-container" [innerHTML]="pages[index]"></div>


<div style="display: flex; justify-content: space-between;">
    <button [ngClass]="index == 0 ? 'invisibleButton' : ''" class="button-next" (click)="next(-1)">Précédent</button>
    <button [ngClass]="index == pages.length-1 ? 'invisibleButton' : ''" class="button-next"
        (click)="next(1)">Suivant</button>
</div>

<h3>Fiche Perso</h3>

<table>
    <tr>
        <td>
            <h6 style="text-align: center;">Personnage</h6>
            <h6>Pays :<br>Nom :<br>Grade :<br>Présentation :<br><br></h6>
        </td>
        <td>
            <h6 style="text-align: center;">VOIES<br><br><br><br><br><br></h6>
        </td>
    </tr>
    <tr style="height: 200px; font-size: larger;">
        <td>
            <h6>
                <h6 style="text-align: center;">ATOUTS<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
        <td>
            <h6>
                <h6 style="text-align: center;">COMPÉTENCES<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
    </tr>
    <tr style="height: 200px; font-size: larger;">
        <td colspan="2">
            <h6>
                <h6 style="text-align: center;">LORE<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
    </tr>
</table>
<br>
<h3>Points</h3>

<h6>
    Plus vos atouts sont avantageants, plus ils coûtent de points. Votre personnage est limité à 3 points.<br>
    C'est au MJ de décider combien vaut de points chacun de vos atouts. Voici une liste pour vous donner une idée des
    points :<br>
    <br>
    Atout décisif améliorant grandement le personnage : 3 points<br>
    Atout important améliorant une partie du personnage : 2 points<br>
    Atout mineur, ouvrant une discipline secondaire ou donnant un bonus occasionnel : 1 point<br>
    Atout neutre, parfois bon parfois mauvais : 0 point<br>
    Atout qui donne un malus dans un aspect esquivable par le personnage : 0 point<br>
    Atout qui malus occasionnellement ou qui bloque un aspect secondaire du personnage : -1 point<br>
    Atout qui malus une partie du personnage : -2 points<br>
    Atout décisif qui malus grandement le personnage : -3 points<br>
    <br>
    Si l'Atout bonus peut devenir un malus occasionnellement : -1 point<br>
    Si l'Atout malus peut devenir un bonus occasionnellement : +1 point<br>
</h6>
