<h2 style="text-align: center;">Univers</h2>

<h6>L'univers d'Omnak n'est pas figé dans le marbre, en fait, c'est vous en créant votre personnage qui allez
    contribuer à sa
    création. Votre personnage déteste les habitants de la Nation Rouge car ils sont prétentieux ? Ok, ce n'étais pas
    prévu, mais dans votre campagne les Rouges seront prétentieux. Votre parent a fondé une mine de pierres précieuses
    dans une région neutre ? Elle risque d'être l'objectif de la prochaine guerre. Vous avez découvert des ruines d'une
    magie ancienne ? Inventez cette magie, elle fait désormais partie de l'univers.<br>
    J'espère que vous avez compris, que cela vous plait, et que vous avez plein d'idées pour alimenter cet univers
    !!!<br>
    Sinon, sur cette page, vous allez avoir les 3 principes de base de l'univers (qui peuvent tout à fait être
    contournés par vos créations), mais cela donne une base sur laquelle vous pouvez aussi vous inspirer.</h6>

<h3>L'Omnak</h3>

<h6>L'Omnak est une pierre découverte dans cet univers qui, lorsqu'un humain la serre très fort, libère ses pouvoirs et
    les donne à cet humain. L'humain gagne alors certaines facultés, qui dépendent de lui et de son entraînement. Par
    exemple, un humain qui consommerait une Omnak et qui s'entraînerait les 6 prochains mois à pêcher, deviendrait
    surement le meilleur pêcheur de tous les temps. Cependant, ces pierres sont surtout utilisées pour être capable
    de maîtriser la magie, ou bien obtenir des capacités de combat exceptionnelles.<br>
    L'Omnak est une pierre bleue luminescente, verticale et pointue, et devient un caillou normal une fois consommée. On
    a découvert 5 grands gisements d'Omnak, assez rapidement, des cités se sont construites autour, et certains humains
    en ont consommés beaucoup jusqu'à devenir des magiciens extrêmement puissants. Ces mages, par la loi du plus fort,
    se sont mis à gouverner les autres. C'est ainsi que les 5 nations sont apparues.<br>
    Consommer trop d'Omnak a des effets néfastes, des pouvoirs que l'on ne peut plus arrêter, ou bien des crises de
    folie ou de démence, ainsi qu'une dépendance à consommer encore plus d'Omnak. C'est pourquoi la plupart des armées
    ont limité le nombre d'Omnak de leur combattants à un maximum de 5 dans toute leur vie. Les armées ont basé leur
    hierarchie sur ce point, créant ainsi 5 Grades différents, un par Omnak consommée.
</h6>

<h3>Un monde en guerre</h3>

<h6>Depuis des siècles, les 5 nations se livrent de très nombreuses guerres. Pour tenter de s'accaparer plus d'Omnak,
    pour capturer des territoires avec des ressources magiques ou militaires importantes, ou par simple soif de
    vengeance ou de destruction. Durant toutes ces guerres, jamais une des 5 nations n'a réellement pris le dessus.
    Les alliances sont régulières mais très temporaires : il n'est pas rare que 2 nations se liguent pour évincer une
    troisième d'une région, et une fois celle-ci repoussée, les 2 nations se font finalement la guerre pour obtenir le
    contrôle total de la région. Vous pouvez facilement imaginer des missions dans des terres d'autres nations dûes à
    des alliances temporaires, et même jouer sur ce point (que pensez quand vous devez vous battre contre un ami ?).<br>
    Vous pouvez inventer des batailles, ou utiliser les conséquences des guerres dans la création de votre personnage
    (déplacement de population suite à une perte de région ? famine après un incendie des récoltes par l'ennemi ?).
</h6>

<h3>Une noblesse magique</h3>

<h6>Chaque nation, sans exception, suit le modèle suivant : des mages surpuissants gouvernent, une armée de mages et de
    combattants leur obéïssent. Cette armée est à la fois militaire, érudite et noblesse. Ils sont considérés comme
    supérieurs. Enfin il y a la masse pauvre, un bas peuple sans pouvoir ni magie, qui ne se bat pas et qui travaille
    sans cesse pour nourrir les autres ou pour miner des ressources. Assez souvent cependant, il est nécessaire de
    trouver de nouveaux militaires (les guerres font de nombreux morts), c'est alors que ceux qui veulent sortir de la
    misère se font enrôler par l'armée de leur nation. Les enfants des nobles, eux, peuvent aller dans l'armée, ou
    travailler normalement, mais ils garderont toujours leur supériorité. Ils seront alors dirigeants de commerce ou
    d'artisanat.</h6>

<h4>Égalité et diversité</h4>

<h6>Les sociétés de cet univers ne font aucune différence entre les sexes. Les distinctions de couleur de peau ou
    d’orientation sexuelle n’y ont aucune incidence sociale ou politique, elles sont perçues comme des variations
    naturelles et pleinement acceptées.</h6>

<h4>Géographie</h4>

<h6>Omnak est constitué d'un immense continent et de quelques îles tout autour de celui-ci.<br>
    La Nation Rouge est au plus proche d'un volcan, la Nation Verte vit dans une profonde forêt, la Nation Sable dans un
    désert aride et brûlant, ...
</h6>
