<h2 style="text-align: center;">Règles</h2>

<button routerLink="./character-creation">Créer son personnage</button>

<h3>Règles générales</h3>

<h6>Les actions se résolvent en lançant un <span>D20</span>. Il faut faire autant ou plus qu’une <span>difficulté
        fixée</span> pour réussir.<br> Les personnages sont décrits par des <span>Atouts</span>, quand un atout colle à
    la situation, on lance 1D20 de plus (cumulable) et on choisit quel dé va compter pour le jet. On appelle ça un
    <span>bonus</span>.<br> En cas d’atout négatif, ou d’atout positif de l’adversaire, on lance 1D20 de plus
    (cumulable) et on garde le pire résultat. On appelle ça un <span>malus</span>.<br> En cas de bonus et de malus, ils
    s'annulent.<br> Les actions peuvent être <span>libres</span> (le joueur décrit ce que son personnage veut faire) ou
    liée à une <span>Compétence</span> (le personnage tente une action qu’il sait faire). Les personnages ont une liste
    limitée de Compétence (5?) qu’ils choisissent parmi celles qu’ils ont découvert lors de leurs <span>Voies</span>
    (écoles).<br> Chaque Voie donne un nouvel Atout et rend disponible 3 Compétences.<br> Certaines Compétences ont des
    <span>Effets</span> spéciaux suivant les valeurs du D20 (pair, tous les 4, tous les 5, tous les 6, tous les 8,
    impair).<br> Quand le résultat du jet est 1, c’est un <span>Échec Critique</span>, quand c’est 20 c’est une
    <span>Réussite Critique</span>.
</h6>

<h3>Difficultés</h3>

<h6>
    Les actions sont définies par trois sortes de difficultés :<br>
    C10 correspond à "<span>Complexité 10</span>", il faut faire 10 ou plus pour réussir l'action.<br>
    R10 correspond à "<span>Risque 10</span>", il faut faire 10 ou plus pour réussir l'action, si on la rate on subit
    son Risque.<br>
    S10 correspond à "<span>Séquelle 10</span>", il faut faire 10 ou plus pour ne pas subir une Séquelle, dans tous les
    cas l'action
    est réussie.<br>
    Attention, sur un Échec Critique, les Risques et Séquelles sont doublés ou empirés.
</h6>

<h3>Actions libres</h3>

<h6>La difficulté des actions libres est décidée par le MJ.<br> Dans le cas où une action libre ressemble énormément à
    une Compétence qui existe dans l'univers, mais que le personnage qui la tente ne connait pas cette compétence, la
    difficulté de l'action est alors celle de la Compétence auquel on ajoute 4.<br> Lorsqu'un personnage tente de se
    servir d'une arme qu'il ne connait pas, par défaut il utilisera la Compétence la plus simple du type de cet arme
    (Estoc C8 avec une arme de Gladiateur par exemple, qu'il tentera en C12 avec l'augmentation de difficulté de 4).
</h6>

<h3>Tour de Jeu</h3>

<h6>
    Les joueurs jouent dans un ordre aléatoire qui ne change pas au cours d'une même scène.<br>
    Certains Atouts peuvent donner l'initiative, cela permet de jouer avant tout les autres.<br>
    A leur tour, chaque joueur peut tenter une action avec son personnage.<br>
    Si cette action nécessite un lancer de dé, alors le joueur regarde tous ses <span>Atouts</span> qui pourraient
    l'aider à réaliser cette action. Il les dit au MJ, qui les valide ou non, puis le MJ lui indique si il a d'éventuels
    malus.<br>
    Le joueur fait son lancer de dé, cela détermine la résolution de cette action, expliquée ensuite par le MJ.<br>
    <br>
    Lorsque tous les joueurs ont joué, c'est au tour des PNJ (Personnages Non Joueurs) de jouer, interprétés par le
    MJ.<br>
</h6>

<h3>Santé</h3>

<h6>Les dégâts infligés à n'importe quel être vivant se compte en blessures. <br> Un homme adulte normalement constitué
    tombe K.O. à 8 blessures et meurt à 12 blessures.<br>
    Un repos avec des soins soigne de 6 blessures.<br>
    Un repos long et réparateur soigne de 3 blessures.<br>
    Un repos court soigne de 1 blessure.<br>
</h6>

<h3>Atouts des Armes Blanches</h3>

<h6>Armes d’Hast (lance) : Anti-Cavalerie<br>
    Armes de Gladiateur (épée) : Duel<br>
    Armes de Taille (hache) : Tranchante (ER2 : inflige En Sang)<br>
    Armes Contondantes (marteau) : Ignore l’armure<br>
    Armes Légères (dague) : Discret<br>
</h6>

<h3>Contre des types de magie</h3>

<h6>
    Feu > Végétal<br>
    Sable > Feu<br>
    Eau > Feu<br>
</h6>

<h3>Furtivité</h3>

<h6>Si toutes les cibles de votre attaque ne sont pas au courant de votre présence, vous gagnez 1 bonus. Pour se
    déplacer sans être remarqué, dans un lieu sombre ou comprenant des obstacles, il faut réussir une action, la
    difficulté dépend de :<br>
    - la vigilance des ennemis<br>
    - leur nombre<br>
    - le terrain plus ou moins dégagé<br>
    - la luminosité actuelle<br>
    Si l'action est réussie, on considère que la furtivité fonctionne tant qu'aucun bruit n'est fait, donc pas d'attaque
    ou de déplacement rapide, ou tant que les ennemis ne tentent pas une recherche, auquel cas un nouveau jet est
    nécessaire.<br>
</h6>

<h3>Réussites automatiques</h3>

<h6>
    Dans certains cas, un personnage peut avoir le droit de réussir automatiquement une action.<br>
    Ainsi, il n'a pas à lancer de D20. Si des effets auraient pû être déclenchés, on considère que le joueur a fait 18
    et que c'est une réussite. Il n'est donc pas possible de faire de Réussite Critique avec une réussite
    automatique.<br>
</h6>

<h3>États spéciaux</h3>

<h6>Par défaut un même effet n'est pas cumulable.</h6>

<h4>En Feu</h4>
<h6>Lorsqu'une personne est "En Feu", elle subit une blessure à chaque fois qu'elle termine son tour. Pour enlever cet
    état, il faut soit se rouler au sol et réussir une action C14 (ou C10 si le sol est humide ou granuleux), ou bien
    n'importe quelle action permettant d'éteindre le feu comme se jeter dans l'eau.</h6>

<h4>En Sang</h4>

<h6>Lorsqu'une personne est "En Sang", elle subit une blessure à chaque fois qu'elle termine son tour. Pour enlever cet
    état, il faut soit être la cible d'une action de Premiers Soins (C12), soit être soignée d'une blessure (dans ce cas
    vous n'être pas soigné de la blessure mais vous perdez l'état "En Sang").</h6>

<h4>Empoisonné</h4>

<h6>Lorsqu'une personne est "Empoisonnée X", elle subit une blessure tous les X tours. Exemple : Empoisonnée 3, tous les
    3 tours elle subit une blessure. La personne subit la blessure à la fin de son 3e tour.<br>
    Cet effet se termine si la cible tombe K.O. ou qu'elle reçoit un soin. 1 blessure soignée de moins permet d'enlever
    l'état Empoisonné.<br>
    Cet effet est cumulable, sauf si c'est la même source ou compétence qui inflige de nouveau Empoisonné, dans ce cas
    cela ne se cumule pas.</h6>

<h4>Intoxiqué</h4>

<h6>Exactement comme Empoisonné, sauf que l'état se l'enlève pas quand la cible tombe K.O., donc cet effet est mortel.
</h6>

<h4>Tombé au sol</h4>

<h6>Lorsqu'une personne tombe au sol, elle subit un malus. Ainsi, toutes personnes voulant l'attaquer gagne un bonus. À
    son tour, elle peut se relever en échange d'un malus à son action, ou bien rester au sol, ce qui suivant l'action
    choisie peut tout de même lui valoir un malus.</h6>

<h4>Clairvoyant</h4>

<h6>Une personne Clairvoyante comprend totalement la situation et ses détails infîmes, et sait exactement quoi faire. Sa
    prochaine action qui semble inventive ou complètement improbable gagne 2 bonus.
</h6>

<h4>Cristallisé</h4>

<h6>
    Une personne "Cristallisée X" est totalement recouverte de glace et ne peux plus agir ni parler. Elle voit et entend
    la situation. A la fin de chacun de ses tours, le X diminue de 1, si il tombe à 0 alors elle n'est plus
    Cristallisée. Si la cible reçoit des blessures, c'est d'abord la couche de glace qui les subit. Ainsi, à chaque fois
    que la cible subit 2 blessures, le X diminue de 1. En cas de dépassement de la quantité de blessure nécessaire pour
    briser la glace, la cible subit les blessures excédentaires.
</h6>

<h4>Cryogénisé</h4>

<h6>
    Exactement comme Cristallisé, sauf que si la cible subit des blessures excédentaires pour briser la glace, elle est
    brisée avec. Elle meurt donc. De plus, la cible n'est pas consciente, elle ne voit pas et n'entend pas.
</h6>

<h4>Paralysé</h4>

<h6>
    Une personne Paralysée a ses membres tétanisés. Elle a, à son tour, le choix entre forcer pour bouger son corps et
    réaliser une action normalement, dans ce cas elle subit 1 blessure. Elle peut aussi choisir de ne pas bouger. Elle
    perd cet état à la fin de son tour, quel que soit son choix.
</h6>

<h4>Électrisé</h4>

<h6>
    Une personne "Électrisée X" a une forte tension électrique dans son corps. Si elle touche ou attaque au corps à
    corps ou par le moyen d'une arme une cible, l'énergie électrique se décharge dans celle-ci, ce qui lui inflige X
    blessures et lui donne l'état Électrisée Y où Y vaut X moins 1. Si Y vaut 0, l'état n'est pas donné. La première
    personne perd alors l'état Électrisé.<br>
    Si la personne ne touche aucune cible, elle perd l'état Électrisé à la fin de la scène.
</h6>
