<h2 style="text-align: center;">Règles</h2>

<h3>Règles générales</h3>

<h6>Les actions se résolvent en lançant un <span>D20</span>. Il faut faire autant ou plus qu’une <span>difficulté
        fixée</span> pour réussir.<br> Les personnages sont décrits par des <span>Atouts</span>, quand un atout colle à
    la situation, on lance 1D20 de plus (cumulable) et on choisit quel dé va compter pour le jet. On appelle ça un
    <span>bonus</span>.<br> En cas d’atout négatif, ou d’atout positif de l’adversaire, on lance 1D20 de plus
    (cumulable) et on garde le pire résultat. On appelle ça un <span>malus</span>.<br> En cas de bonus et de malus, ils
    s'annulent.<br> Les actions peuvent être <span>libres</span> (le joueur décrit ce que son personnage veut faire) ou
    liée à une <span>Compétence</span> (le personnage tente une action qu’il sait faire). Les personnages ont une liste
    limitée de Compétence (5?) qu’ils choisissent parmi celles qu’ils ont découvert lors de leurs <span>Voies</span>
    (écoles).<br> Chaque Voie donne un nouvel Atout et rend disponible 3 Compétences.<br> Certaines Compétences ont des
    <span>Effets</span> spéciaux suivant les valeurs du D20 (pair, tous les 4, tous les 5, tous les 6, tous les 8,
    impair).<br> Quand le résultat du jet est 1, c’est un <span>Échec Critique</span>, quand c’est 20 c’est une
    <span>Réussite Critique</span>.
</h6>

<h3>Actions libres</h3>

<h6>La difficulté des actions libres est décidée par le MJ.<br> Dans le cas où une action libre ressemble énormément à
    une Compétence qui existe dans l'univers, mais que le personnage qui la tente ne connait pas cette compétence, la
    difficulté de l'action est alors celle de la Compétence auquel on ajoute 4.<br> Lorsqu'un personnage tente de se
    servir d'une arme qu'il ne connait pas, par défaut il utilisera la Compétence la plus simple du type de cet arme
    (Estoc C8 avec une arme de Gladiateur par exemple).</h6>

<h3>Création de Personnage</h3>

<h6>Avant tout, l'univers est modelable, c'est à dire que vous pouvez imaginez n'importe quoi !<br>
    Imaginez et parlez en à votre MJ !<br>
    <br>
    - Choisir la <span>Nation</span> dans lequel est né votre personnage.<br>
    <br>
    - Inventer un <span>Atout</span> à votre personnage.<br>
    <div style="font-style: italic;">
        Quand je suis né...<br>
        Quand j'étais enfant...<br>
        Un membre de ma famille est...<br>
        ...<br>
    </div>
    <br>
    - Écrivez un <span>Lore</span> : la raison pour laquelle votre personnage entre dans les forces militaires de sa
    Nation.<br>
    <div style="font-style: italic;">
        Par loyauté envers sa patrie ?<br>
        Par nécessité ?<br>
        Pour devenir plus puissant ?<br>
        Pour s'élever du bas peuple ?<br>
        ...<br>
    </div>
    <br>
    Il est possible de rejoindre l'école militaire d'un autre pays que celui choisi au départ, expliquez comment et
    pourquoi. Dans ce cas, l'un de vos Atouts sera surement une particularité acquise dans votre pays natal.<br>
    <br>
    - Choisissez votre première <span>Voie</span> dans l'armée de votre Nation.<br>
    Elle vous donne 1 Atout et 3 Compétences.<br>
    <br>
    - Inventer un <span>Atout</span> qui sera une évolution de votre personnage lors de cette période où il devient
    adulte.<br>
    <div style="font-style: italic;">
        Un trait de caractère ? <br>
        Une nouvelle relation ? <br>
        Une particularité acquise ?<br>
    </div>
    <br>
    - Votre première <span>Mission</span><br>
    Appelez votre MJ, un D20 à la main.<br>
    <div style="font-style: italic;">
        Mission dangereuse ?<br>
        Escorte d'un personnage illustre ?<br>
        Ennui total dans un bureau administratif ?<br>
        C'est le D20 qui choisi !<br>
    </div>
    Expliquez le <span>Lore</span> de cette mission, quel était l'objectif, qu'avez vous essayer de faire ?<br>
    Avec votre MJ, lancez de nouveau un D20 pour obtenir l'issue de cette mission.<br>
    Écrivez l'<span>Atout</span> gagné.<br>
    <br>
    - Choisissez votre seconde <span>Voie</span> dans l'armée de votre Nation.<br>
    Certaines Voies ne sont pas accessibles à tous, certaines sont sélectives et ne prendront que quelqu'un qui a des
    relations ou qui a prouvé sa valeur.<br>
    A partir de ce point, vous pouvez aussi décider de quitter l'armée, passer à l'ennemi, ou bien devenir
    mercenaire. Votre choix vous mènera vers d'autres Voies que celles de votre armée, celles-ci seront tout aussi
    intéressantes.<br>
    Tout est possible, mais il y aura des conséquences.<br>
    Votre seconde Voie vous donne 1 Atout et 3 Compétences. Vous ne pouvez garder que 5 Compétences, choisissez laquelle
    "oublier".<br>
    <br>
    - Décriver l'apparence de votre personnage dans <span>Lore</span>, ses vêtements, sa façon d'être, ses
    particularités physiques.<br>
    <br>
    - Inventer un <span>Atout</span> qui sera une évolution de votre personnage durant cette période où son regard
    change sur le monde, qu'il devient de plus en plus
    expérimenté et qu'il fonde une famille.<br>
    <span style="background-color: orange;">ATTENTION</span>: si votre personnage n'a pour l'instant que des Atouts
    positifs, vous devez alors créer un Atout négatif.<br>
    <div style="font-style: italic;">
        Un trait de caractère ? <br>
        Une nouvelle relation ? <br>
        Une particularité acquise ?<br>
    </div>
    <br>
    - Voilà qu'arrive votre seconde <span>Mission</span>...<br>
    <br>
    A partir de ce point, certains de vos Atouts peuvent changer, ou disparaître.<br>
</h6>

<h3>Fiche Perso</h3>

<table>
    <tr>
        <td>
            <h6 style="text-align: center;">Personnage</h6>
            <h6>Pays :<br>Nom :<br>Grade : <br></h6>
        </td>
        <td>
            <h6 style="text-align: center;">VOIES<br><br><br><br></h6>
        </td>
    </tr>
    <tr style="height: 200px; font-size: larger;">
        <td>
            <h6>
                <h6 style="text-align: center;">ATOUTS<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
        <td>
            <h6>
                <h6 style="text-align: center;">COMPÉTENCES<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
    </tr>
    <tr style="height: 200px; font-size: larger;">
        <td colspan="2">
            <h6>
                <h6 style="text-align: center;">LORE<br><br><br><br><br><br><br><br><br><br><br><br></h6>
            </h6>
        </td>
    </tr>
</table>

<h3>Tour de Jeu</h3>

<h6>
    Les joueurs jouent dans un ordre aléatoire qui ne change pas au cours d'une même scène.<br>
    Certains Atouts peuvent donner l'initiative, cela permet de jouer avant tout les autres.<br>
    A leur tour, chaque joueur peut tenter une action avec son personnage.<br>
    Si cette action nécessite un lancer de dé, alors le joueur regarde tous ses <span>Atouts</span> qui pourraient
    l'aider à réaliser cette action. Il les dit au MJ, qui les valide ou non, puis le MJ lui indique si il a d'éventuels
    malus.<br>
    Le joueur fait son lancer de dé, cela détermine la résolution de cette action, expliquée ensuite par le MJ.<br>
    <br>
    Lorsque tous les joueurs ont joué, c'est au tour des PNJ (Personnages Non Joueurs) de jouer, interprétés par le
    MJ.<br>
</h6>

<h3>Santé</h3>

<h6>Les dégâts infligés à n'importe quel être vivant se compte en blessures. <br> Un homme adulte normalement constitué
    tombe K.O. à 8 blessures et meurt à 12 blessures.</h6>

<h3>Atouts de Armes Blanches</h3>

<h6>Armes d’Hast (lance) : Anti-Cavalerie<br>
    Armes de Gladiateur (épée) : Duel<br>
    Armes de Taille (hache) : Tranchante (inflige En Sang)<br>
    Armes Contondantes (marteau) : Ignore l’armure<br>
    Armes Légères (dague) : Discret<br>
</h6>

<h3>Furtivité</h3>

<h6>Si toutes les cibles de votre attaque ne sont pas au courant de votre présence, vous gagnez 1 bonus. Pour se
    déplacer sans être remarqué, dans un lieu sombre ou comprenant des obstacles, il faut réussir une action, la
    difficulté dépend de :<br>
    - la vigilance des ennemis<br>
    - leur nombre<br>
    - le terrain plus ou moins dégagé<br>
    - la luminosité actuelle<br>
    Si l'action est réussie, on considère que la furtivité fonctionne tant qu'aucun bruit n'est fait, donc pas d'attaque
    ou de déplacement rapide, ou tant que les ennemis ne tentent pas une recherche, auquel cas un nouveau jet est
    nécessaire.<br>
</h6>

<h3>Réussites automatiques</h3>

<h6>
    Dans certains cas, un personnage peut avoir le droit de réussir automatiquement une action.<br>
    Ainsi, il n'a pas à lancer de D20. Si des effets auraient pû être déclenchés, on considère que le joueur a fait 18
    et que c'est une réussite. Il n'est donc pas possible de faire de Réussite Critique avec une réussite
    automatique.<br>
</h6>

<h3>États spéciaux</h3>

<h6>Par défaut un même effet n'est pas cumulable.</h6>

<h4>En Feu</h4>
<h6>Lorsqu'une personne est "En Feu", elle subit une blessure à chaque fois qu'elle termine son tour. Pour enlever cet
    état, il faut soit se rouler au sol et réussir une action C14 (ou C10 si le sol est humide ou granuleux), ou bien
    n'importe quelle action permettant d'éteindre le feu comme se jeter dans l'eau.</h6>

<h4>En Sang</h4>

<h6>Lorsqu'une personne est "En Sang", elle subit une blessure à chaque fois qu'elle termine son tour. Pour enlever cet
    état, il faut soit être la cible d'une action de Premiers Soins (C12), soit être soignée d'une blessure (dans ce cas
    vous n'être pas soigné de la blessure mais vous perdez l'état "En Sang").</h6>

<h4>Empoisonné</h4>

<h6>Lorsqu'une personne est "Empoisonnée X", elle subit une blessure tous les X tours. Exemple : Empoisonnée 3, tous les
    3 tours elle subit une blessure. La personne subit la blessure à la fin de son 3e tour.<br>
    Cet effet se termine si la cible tombe K.O. ou quelle reçoit un soin. 1 blessure soignée de moins permet d'enlever
    l'état Empoisonné.<br>
    Cet effet est cumulable, sauf si c'est la même source ou compétence qui inflige de nouveau Empoisonné, dans ce cas
    cela ne se cumule pas.</h6>

<h4>Toxique</h4>

<h6>Exactement comme Empoisonné, sauf que l'état se l'enlève pas quand la cible tombe K.O., donc cet effet est mortel.
</h6>

<h4>Tombé au sol</h4>

<h6>Lorsqu'une personne tombe au sol, elle subit un malus. Ainsi, toutes personnes voulant l'attaquer gagne un bonus. À
    son tour, elle peut se relever en échange d'un malus à son action, ou bien rester au sol, ce qui suivant l'action
    choisie peut tout de même lui valoir un malus.</h6>
