h4 {
    margin-bottom: 0;
}

h6 {
    margin-top: 0;
    font-weight: normal;
}

span {
    font-weight: bold;
    background-color: var(--theme-color-2);
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 10px;

    h6 {
        margin: 10px;
        font-weight: bold;
    }
}

table,
th,
td {
    border: 1px solid var(--theme-color-1);
}

td {
    width: 50%;
}
