<h2 style="text-align: center;">MJ</h2>

<h3>Toujours garder une Nation</h3>

<h6>
    Lorsque vos joueurs vont choisir leur Nation, gardez une chose en tête : il vous faut un ennemi ! Cet ennemi, cette
    Nation que vos joueurs vont combattre, sera celle qui ne sera pas choisie par vos joueurs. Ainsi, encouragez les à
    ne pas choisir chacun une Nation différente, ou bien demandez leur dès le début de désigner l'une des Nations comme
    leur ennemi, celle qu'ils ne veulent pas jouer.
</h6>

<h3>Première mission</h3>

<h6>
    La première mission de vos joueurs se passe durant la création de personnage. Ils lancent chacun un dé pour obtenir
    un contexte de mission aléatoire. Créez en une vingtaine comme suit, ensuite, à chaque fois que un est tiré,
    inventez en un nouveau pour le remplacer.<br>
    <br>
    <u>Phrase rapide du contexte de la mission</u><br>
    <u>4 mots clés donnant des idées de contacts, de finalité ou d'évolution possible lors de cette mission.</u><br>
    <br>
    Exemple 1 : Envoi dans des terres sauvages. Petit groupe, exploration, ruines, animaux dangereux.<br>
    Exemple 2 : Garde ennuyeuse d’un village. Habitants du village, spécialité locale, ennui, énorme attaque du village
</h6>

<h3>Créer un "Théâtre de Guerre"</h3>

<h6>
    Un théâtre est une région, comprenant plusieurs points d'intérêts pour les différentes Nations, qui va être
    disputée. Il est nécessaire de lui donner une identité propre pour le rendre intéressant.<br>
    <br>
    Description<br>
    Inventer à quoi ressemble les espaces vides de ce théâtre, ne pas hésiter à être original !! Une faune et une flore
    étrange et marquante seront bien plus mémorable.<br>
    <br>
    Climat<br>
    Décider de la saison durant laquelle va se passer la campagne. Inventer 4 temps du jour, permettant un lancer rapide
    de dé.<br>
    <br>
    Lieux clés<br>
    Inventer quelques lieux clés, c'est-à-dire des lieux qui ont une importance militaire pour les différentes Nations.
    Heureusement, vu que les armées des Nations sont remplies de mages, ces lieux peuvent être simplement liés à la
    magie. Ainsi, une ancienne ville en ruine n'a beau pas être militairement importante, si elle cache des secrets
    magiques qui permettrait de prendre le dessus sur les autres Nations, elle en devient un lieu central du
    conflit. De même pour une petite grotte sur le flanc d'une montagne, inintéressante, sauf si un artefact magique s'y
    trouve.<br>
</h6>

<h3>Voies Neutres</h3>

<h6>Si vos joueurs veulent quitter l'armée, ou bien essayer de nouvelles choses, vous pouvez leur proposer quelques
    voies neutres.</h6>

<h4>Nv 1</h4>

<button class="neutral not" routerLink="/way/Voleur">Voleur</button>
<button class="neutral not" routerLink="/way/Bandit">Bandit</button>
<button class="neutral not" routerLink="/way/Marchand">Marchand</button>
<button class="neutral not" routerLink="/way/Pirate">Pirate</button>

<h4>Nv 2 (Porteurs)</h4>

<button class="neutral not" routerLink="/way/PorteurOpale">Porteur d'Opale (Prophétie, Divination)</button>
<button class="neutral not" routerLink="/way/PorteurGrenat">Porteur de Grenat (Combat)</button>
<button class="neutral not" routerLink="/way/PorteurLapisLazuli">Porteur de Lapis-lazuli (???)</button>
<button class="neutral not" routerLink="/way/PorteurMalachite">Porteur de Malachite (Mutation, poison)</button>
<button class="neutral not" routerLink="/way/PorteurOnyx">Porteur d'Onyx (Ténèbres)</button>
<button class="neutral not" routerLink="/way/PorteurJade">Porteur de Jade (Guérison)</button>
<button class="neutral not" routerLink="/way/PorteurSélénite">Porteur de Sélénite (Lune)</button>
<button class="neutral not" routerLink="/way/PorteurCryolithe">Porteur de Cryolithe (Glace)</button>

<h4>Nv 3</h4>
<button class="neutral not" routerLink="/way/MageSanglant">Secte Sanglante</button>
<button class="neutral not" routerLink="/way/MageSolaire">Secte Solaire</button>

<br><br>

<h3>Évolution des personnages</h3>

<h6>
    Il ne faut pas oublier que lorsque vos personnages montent en grade dans l'Armée, cela est très long, de nombreuses
    années de dur labeur sont nécessaires pour gagner la confiance de ses supérieurs et se voir offrir une nouvelle
    Omnak pour monter en grade.<br>
    De plus, ceci s'apparente aussi à une prise de nouvelles fonctions, et donc de nouvelles responsabilités.<br>
    Ainsi si un Grade 1 doit simplement écouter les ordres, les Grades 2 doivent réfléchir par eux mêmes et prendre les
    bonnes décisions. Les Grades 3 peuvent se voir attribuer des villages ou des avant-postes à protéger. Les Grades 4,
    plus rares, sont les protecteurs des villes ou des points stratégiques clés, ou les fidèles lieutenants des grandes
    armées. Les Grades 5 sont les généraux de leur nation, prêts à disputer de grandes batailles et à revenir
    victorieux.<br>
    <br>
    Les joueurs doivent ressentir ces deux choses essentielles pour comprendre l'évolution de leur personnage : le temps
    et les responsabilités.
</h6>
