.card {
    --card-color-1: #001ccf;
    --card-color-2: #00c3ff;
    --card-color-back-1: var(--card-color-1);
    --card-color-back-2: var(--card-color-2);
    --card-color-3: #9ffff9;
    --card-color-4: cyan;
    --card-font-color: white;
    border: solid 1px black;
    width: 300px;
    height: 400px;
    margin: 10px;
    background: radial-gradient(circle, var(--card-color-back-2) 0%, var(--card-color-back-1) 100%);
    border-radius: 8px;
}

.title-space {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color-2);
    border-radius: 8px;
    height: 160px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.title {
    text-shadow: -1px -1px 0 var(--card-color-3), 1px -1px 0 var(--card-color-3), -1px 1px 0 var(--card-color-3), 1px 1px 0 var(--card-color-3);
}

.diff-space {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.diff-circle {
    border-radius: 20px;
    width: 50px;
    text-align: center;
    background-color: var(--card-color-4);
}

.diff-text {
    text-shadow: none;
    margin: 0;
    margin-top: 2px;
}

.desc-space {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color-1);
    border-radius: 8px;
    color: var(--card-color-3);
    height: 150px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.desc-line {
    font-weight: normal;
    color: var(--card-font-color);
    text-align: center;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}

.minimize {
    font-size: smaller;
}

.otherColors {
    --card-color-1: #a72100;
    --card-color-2: #ffb300;
    --card-color-3: #faff74;
    --card-color-4: yellow;
}

.green {
    --card-color-1: #1a5d00;
    --card-color-2: #40c100;
    --card-color-3: #96ff84;
    --card-color-4: rgb(4, 255, 0);
}

.idea {
    --card-color-1: #424242;
    --card-color-2: #7b7b7b;
    --card-color-3: #b1b1b1;
    --card-color-4: #ffffff;
}

.print {
    --card-color-1: #ffffff;
    --card-color-2: #d9eeff;
    --card-color-back-1: #7bc3ff;
    --card-color-back-2: var(--card-color-back-1);
    --card-color-3: #ffffff;
    --card-color-4: #ffffff;
    --card-font-color: black;
    border: 3px solid black
}
