<div class="card" [ngClass]="skill.idea ? 'idea' : skill.special">
    <div class="title-space">
        <h2 class="title">
            {{skill.name}}</h2>
    </div>
    <div class="diff-space">
        <h4 class="diff-text" style="text-align: left;">{{skill.type}}</h4>
        <div class="diff-circle">
            <h4 class="diff-text">{{skill.difficulty}}</h4>
        </div>
    </div>
    <div class="desc-space" [ngClass]="skill.effects.length > 3 ? 'minimize' :''">
        <h5 *ngFor="let e of skill.effects" class="desc-line">
            {{e}}</h5>
    </div>
</div>
