table {
    width: 92%;
    min-width: 390px;
    border-collapse: collapse;
    margin: 10px;
}

table,
th,
td {
    border: 1px solid var(--theme-color-1);
}

td:nth-child(1) {
    width: 50px;
    text-align: center;
}

td:nth-child(2),
th:nth-child(2) {
    max-width: 50px;
}
