<div class="navbar">
    <button routerLink="/">
        <i class="material-icons">home</i>
    </button>
    <button style="display: flex;" routerLink="/rules">
        <i class="material-icons" style="width: 30px;">book_4</i>
        <h6 style="margin: 0; margin-top: 5px; overflow: hidden;">Règles</h6>
    </button>
</div>

<div class="right-navbar">
    <button style="display: flex;" routerLink="/world">
        <i class="material-icons" style="width: 30px;">public</i>
        <h6 style="margin: 0; margin-top: 7px; overflow: hidden; font-size: x-small;">Univers</h6>
    </button>
</div>

<div class="center-div">
    <div class="max-size-div">
        <router-outlet></router-outlet>
    </div>
</div>
