<h1>Omnak</h1>
<h2>Préparez-vous à la guerre !</h2>

<h6>Dans le monde d'Omnak, 5 pays se livrent à une terrible guerre magique. Chaque pays s'étant construit autour
    d'un type de magie, ils considèrent leurs magiciens comme leur armée. Ils enrôlent leur population dans des
    institutions magiques, formant de puissants mages entrainés au combat.</h6>
<h6>Vous allez être l'un de ces mages, intégrant dès son enfance le long cursus pour apprendre la magie. Vous ne
    serez peut-être pas accepté dans les unités les plus prestigieuses, cela dépendra de votre talent et de
    votre travail.</h6>
<h6>Une fois un grade suffisant acquis, vous partirez au combat. Des escarmouches magiques loin de votre terre
    natale vous attendent, des combats épiques contre les meilleurs mages des nations rivales, et même de
    grandioses batailles où vous prouverez votre valeur pour votre pays ! J'espère que vous survivrez assez
    longtemps pour voir votre armée décimer vos ennemis et assoir sa domination sur le monde.
</h6>

<h3>Choisissez pour quelle Nation vous allez vous battre !</h3>

<h2>La Nation Rouge</h2>
<h5 style="font-style: italic;">« Tous s'inclineront »</h5>

<h6>Perchée sur le flan d'un volcan, la Capitale de la Nation Rouge est une cité pleine de vie. Le Roi-Dragon,
    chef ultime de la Nation, est respecté de tous. Un mage de la Nation Rouge est avant tout un soldat, dans
    une grande armée organisée et hierarchisée. C'est le seul pays qui se bat encore avec des armes blanches,
    considérées comme trop faible comparées à la magie. Cependant, la Nation Rouge connait une magie qui a
    changé sa vision sur les armes : elle sait les enchanter, leur donner des propriétés magiques. Ainsi, une
    partie de la Nation Rouge est spécialisée dans la Magie du Feu et l'enchantement, pendant que l'autre
    s'exerce au combat pour manier les armes enchantées.</h6>

<h5>Valeurs : Honneur, Courage, Destruction, Perfection</h5>
<h5>Domaines magiques : Feu, Combat avec des armes, Cavalier, Commandement</h5>

<div style="position: relative;">
    <img style="max-width: 100%;" src="PaysRouge.jpg">
    <div *ngFor="let zone of zonesRouge" style="position: absolute; border: solid 1px black; cursor: pointer;"
        [style.top.%]="zone.top" [style.left.%]="zone.left" [style.width.%]="9.4" [style.height.%]="7.2"
        (click)="goToWay(zone.id)">
    </div>
</div>

<button routerLink="/table/EffetArmesEnchantees">Effets Aléatoires des Armes Enchantées</button>

<h2>La Nation Verte</h2>
<h5 style="font-style: italic;">« Chasser, ou être chassé »</h5>

<h6>Au plus profond d'une gigantesque forêt se cache la Nation Verte. On raconte qu'elle est dirigée par les
    esprits de la Nature auxquels d'anciens mages ont fusionnés. Chaque mage de cette Nation considère la nature
    comme sa mère, et les animaux comme ses frères. Partagés entre la férocité des animaux, la résistance des
    arbres, et le venin mortel qu'ils déposent sur leurs flèches, les mages et tireurs de la Nation Verte sont
    polyvalents et savent comment survivre dans n'importe quel environnement. Parfois, des esprits s'éveillent
    dans des arbres, on les appelle des Arbréens, des créatures capables de se déplacer et de parler, qui ont
    pour but d'étendre la forêt au delà de ses limites.</h6>

<h5>Valeurs : Unité, Nature, Bestialité, Évolution</h5>
<h5>Domaines magiques : Animaux, Tir à l'Arc, Poison, Soins</h5>

<div style="position: relative;">
    <img style="max-width: 100%;" src="PaysVert.jpg">
    <div *ngFor="let zone of zonesVertes" style="position: absolute; border: solid 1px black; cursor: pointer;"
        [style.top.%]="zone.top" [style.left.%]="zone.left" [style.width.%]="9.3" [style.height.%]="9"
        (click)="goToWay(zone.id)">
    </div>
</div>

<h2>La Nation Sable</h2>
<h5 style="font-style: italic;">« Les têtes tomberont jusqu'à notre victoire »</h5>

<h6>Les habitants du désert se sont rassemblés dans une grande cité lorsque les premières pierres précieuses
    magiques ont été découvertes. Ces pierres, jalousements gardées par la Nation Sable, offrent des pouvoirs
    variés à leur porteur. Les mages de cette Nation ont d'autres spécialités, ils maîtrisent le sable, la roche
    et ont des pouvoirs de dissimulation. Ces derniers leur ont permis d'entraîner leurs fameux Mage-Assassins,
    s'approchant sans être vu et tranchant la gorge de leurs ennemis. On raconte que la Nation Sable est dirigée
    par d'immenses golems de pierres précieuses, d'anciens mages qui ne peuvent plus reprendre leur forme
    humaine.</h6>

<h5>Valeurs : Communauté, Sang-Froid, Puissance, Détermination</h5>
<h5>Domaines magiques : Sable, Roches, Invisibilité, Assassinat</h5>

<div style="position: relative;">
    <img style="max-width: 100%;" src="PaysSable.jpg">
    <div *ngFor="let zone of zonesSable" style="position: absolute; border: solid 1px black; cursor: pointer;"
        [style.top.%]="zone.top" [style.left.%]="zone.left" [style.width.%]="9.4" [style.height.%]="8.6"
        (click)="goToWay(zone.id)">
    </div>
</div>
